ul.nav {
	list-style-type: none;

	background-color: #3495eb;
	position: fixed; /* Set the navbar to fixed position */
 	top: 0; /* Position the navbar at the top of the page */
	padding-left: 0;
	padding-right: 0;
	left: 0;
	width: 100%;
}

li.nav {
	float: right;
}


li.nav a {
	font-family: "Garamond", serif;
	font-size: 1.5em;
	display: block;
  	color: white;
  	text-align: center;
  	padding: 14px 25px;
  	text-decoration: none;
}

li.nav a:hover {
	background-color: #1f6099;
}

ul.nodot {
	list-style-type: none;
	margin-left: 8%;
}

header.resume {
	padding-top: 15%;
	text-align: center;
}

td.right {
	padding-left: 25;
}
